

.toast {
    display: inline block;
    position: absolute;
    left: -100%;
    bottom: 30px;
    background: white;
    border: 1px solid rgb(0, 163, 0);
    border-radius: 6px;
    padding: 15px;
    color: green;
    transition: 600ms;
}

.toast.visible {
    left: 30px;
}